# Virtualenv files
.env/

# SQLite3 database
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# compiled translation files
# commented out because heroku can't find msgfmt (GNU gettext tools 0.15 or newer)
#*.mo
requirements.txt
settings.py
