footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:60px;
   line-height: 60px;
   background:#222;
}

footer .copyright {
	float:right;
	color: #9D9D9D;
	margin-right: 20px;
}

div.input-container label {
	width: 300px;
}

div.form-error {
  color: red;
}

#headerpic {
  width: 100%;
}

#header {
  /*background: url('../images/isoskaba-kuva-pieni.jpg') no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;*/
}

#login {
 position: absolute;
 float: right;
}

.panel-default {
 opacity: 0.9;
 margin-top:40px;
}

.form-group.last {
 margin-bottom:40px;
}
