#content {
   margin-bottom: 60px;
}

body {
  position: relative;
  margin-left: 0;
  padding-left: 0;
}

div {
  margin: 0;
  padding: 0;
}

.div-table{
  display:table;
  width:100%;
  background-color:#eee;
  border:1px solid  #666666;
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
  display:table-row;
  width:100%;
  clear:both;
}
.div-table-row > div{
  float:left;/*fix for  buggy browsers*/
  display:table-cell;
  width:20%;
  background-color:#ccc;
  text-align: center;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 60px;
   line-height: 60px;
   background: #222;
}

footer .copyright {
	float: right;
	color: #9D9D9D;
	margin-right: 20px;
}

div.input-container label {
	width: 300px;
}

div.form-error {
  color: red;
}


#headerpic {
  width: 100%;
}

#login {
 position: absolute;
 top: 6%;
 right: 7%;
}

#login-body {
  height: 220px;
}

/*#login-nav {
  display: none;
}*/

#lang input {
  position: relative;
  transform: translateY(50%);
}

#container-fluid {
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

.panel-default {
 opacity: 0.9;
 margin-top: 40px;
}

.panel-heading-transparent {
   background-color: inherit !important;
}

.form-group.last {
 margin-bottom: 40px;
}

@media screen and (max-width: 1500px) {
  #login {
    top: 3%;
    right: 4%;
  }

  #login-body {
  height: 170px;
}
}

@media screen and (max-width: 1200px) {
  #login {
    display: none;
  }

  #login-nav {
    display: inline;
  }
}
