body {
  background: url("../images/floating-cogs.svg");
  background-color: #333333 ;
  font-family: "Lato", sans-serif;
  position: relative;
  margin: auto;
  padding-left: 0;
  width: 85%;
}

div {
  margin: 0;
  padding: 0;
}

a {
  color: #606060	
}

h1, h2, h3, h4 {
  letter-spacing: 1px;
  margin-bottom: 25px;
}

#header {
  margin-top: 15px;
}

#content {
  background: #D3D3D3;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-bottom: 60px;
  position: relative;
  top: -20px;
  -webkit-box-shadow: 0 10px 6px -6px #221e1e;
	-moz-box-shadow: 0 10px 6px -6px #221e1e;
	box-shadow: 0 10px 6px -6px #221e1e;
}

.div-table{
  display:table;
  width:90%;
  margin: auto 20px;
}
.div-table-row{
  display:table-row;
  width:100%;
  clear:both;
  text-align: center
}

.div-table-row:nth-child(2n+2) {
  background-color: #eee
}
.div-table-row:nth-child(2n+1) {
  background-color: #ddd;
} 

.div-table-row > div{
  float:left;/*fix for  buggy browsers*/
  display:table-cell;
  padding: 7px;
  text-align: center;
  vertical-align: middle
  /*border-top: 1px solid #666;*/
}

.div-table-heading > div, .div-table-heading > div > a {
   vertical-align: middle;
   border-top: 0px;
   background-color: #990033;
   color: #fff;
   letter-spacing: 1px;
}

.div-table div.link {
   padding:0px;
}
.div-table div.link a {
   display:block;
   padding: 7px;
}

.div-table-heading div.link a:hover {
   background-color: #990033;
}

.div-table-collapse {
   background-color: #fff;
   padding: 15px;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 60px;
   line-height: 60px;
   background: #222;
}

footer .copyright {
	float: right;
	color: #9D9D9D;
	margin-right: 20px;
}

div.input-container label {
	width: 300px;
}

div.form-error {
  color: #990033;
}


#headerpic {
  width: 100%;
  max-height: 260px;
  object-fit: cover;
}

#login {
 position: absolute;
 top: 6%;
 right: 7%;
}

#login-body {
  height: 220px;
}

#lang input {
  position: relative;
  transform: translateY(50%);
}

#container-fluid {
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

.cute-header {
  /* background-color: pink; */
}

.panel-default {
 opacity: 0.9;
 margin-top: 40px;
}

.panel-heading-transparent {
   background-color: inherit !important;
}

.form-group.last {
 margin-bottom: 40px;
}

#top-nav {
  background-color: #990033;
  border:none;
  border-radius: 0px;
}

#top-nav a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#top-nav a:hover {
  color: #000;
  font-weight: bold;
}

#myNavbar {
  border: none;
}

.dropdown-menu {
  border-radius: 0;
  min-width: 200px;
}

#user-dropdown a {
  color: black;
  padding: 15px;
}

/* I'm sorry for this spaghetti I'm in a super hurry :(( */
#top-nav .navbar-nav > .open > a {
  background-color: #990033;
}

button.attend-event[disabled] {
  background-color: #C0C0C0;
}

.padded {
  padding: 0 10px;
}

/* Icon styles */
red {
  color: #990033 !important;
}

green {
  color: green;
}