{% extends 'admin_base.html' %}
{% load i18n %}
{% block admin_content %}
{% for form in forms %}
  {% if form.errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-error">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}

<h2>{{ site_title }}</h2>
	<div class="panel panel-primary">
		<div class="panel-heading"></div>
		<form role="form" clas="form-horizontal" action="{{ form_action }}" method="POST">
			{% csrf_token %}
      {% for form in forms %}
  			{% for field in form %}
  			<div class="input-container">
  				<label>{{ field.label }}</label>
  				{{ field }}
  		    	{% for error in field.errors %}
  	      			<div class="form-error">{{ error|escape }}</div>
     			 	{% endfor %}
  			</div>
  			{% endfor %}
      {% endfor %}
			<input type="submit" value="{{ submit_text }}" />
		</form>

{% endblock %}
