{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}
<div class="row">
	<div class="col-lg-2 col-md-2 col-xs-3">
		<ul>
			<li><a href="/admin/events/"><strong>{% trans 'Events' %}</strong></a></li>
			<li><a href="/admin/events/add">{% trans 'Add event' %}</a></li>
			<li><a href="/admin/events/import">{% trans 'Import events' %}</a></li>
			<li><a href="/admin/users/"><strong>{% trans 'Users' %}</strong></a></li>
			<li><a href="/admin/users/add">{% trans 'Add user' %}</a></li>
			<li><a href="/admin/users/import">{% trans 'Import users' %}</a></li>
			<li><a href="/admin/attendances/"><strong>{% trans 'Attendances' %}</strong></a></li>
                        <li><a href="/admin/guildpoints/update/"><strong>{% trans 'Update guildpoints' %}</strong></a></li>
		</ul>
	</div>
	<div class="col-lg-10 cold-md-10 col-xs-9">
		{% block admin_content %}{% endblock %}
	</div>
</div>
{% endblock %}
