{% extends 'admin_base.html' %}
{% load i18n %}
{% block admin_content %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<h1>{% trans 'Events' %}</h1>
<div class="search-events">
  <label for="search-input">{% trans 'Search events' %}</label>
  <input id="search-input" />
</div>
<script>
  $(document).ready(function() {
    events = [];
    {% for event in events %}
      events.push({'value': '{{ event.slug }}', 'label': '{{ event.name }}'});
    {% endfor %}
    console.log(events);
    $('#search-input').autocomplete({
      minlength: 2,
      source: events,
            focus: function(event, ui) {
              $('#search-input').val(ui.item.label);
              return false;
          },
            select: function(event, ui) {
              window.location.href = '/admin/events/edit/' + ui.item.value + '/';
            }
    });
  });
</script>
<form role="form" class="form-horizontal" action="/deleteevent" method="POST">
  {% csrf_token %}
  <table style="width:100%">
    <tr>
      <th><a href="?order_by=name">{% trans 'Name' %}</a></th>
      <th><a href="?order_by=description">{% trans 'Description' %}</a></th>
      <th><a href="?order_by=guild">{% trans 'Guild' %}</a></th>
      <th><a href="?order_by=points">{% trans 'Points' %}</a></th>
      <th><a href="?order_by=repeats">{% trans 'Repeats' %}</a></th>
      <th><a href="?order_by=date">{% trans 'Date' %}</a></th>
    </tr>
  {% for event in events %}
    <tr>
      <td><a href="/admin/events/edit/{{ event.slug }}/" title="Edit Event">{{ event.name }}</a></td>
      <td>{{ event.description|safe}}</td>
      <td>{{ event.guild}}</td>
      <td>{{ event.points }}</td>
      <td>{{ event.repeats }}</td>
      <td>{{ event.date|date:'d.m.Y' }}</td>
      <td><button type="submit" name="event_id" value="{{ event.id }}" onclick="confirm('{% trans 'Do you want to delete the event' %}')">{% trans 'Delete' %}</button></td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}
