{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <title>ISOskaba</title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container-fluid">
    <div id="header" class="row">
        <a href="/"><img id="headerpic" src="{% static 'images/isoskaba-kuva-pienempi.jpg' %}" alt="ISOskaba"></a>
    </div>
  </div>
  <form action="/i18n/setlang/" id="language-form" method="post">
  {% csrf_token %}
  <nav id="top-nav" class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">{% trans 'ISOskaba' %}</a>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
          <li><a href="/attend"> {%trans 'Attend'%}</a></li>
          <li><a href="/scoreboard">{%trans 'Scoreboard'%}</a></li>
          {% endif %}
          {% if user.is_superuser or user.profile.role == 'moderator' or user.profile.role == 'admin' %}
          <li><a href="/admin/">{% trans 'Admin panel' %}</a></li>
          {% endif %}
       </ul>

        <ul id="login-nav" class="nav navbar-nav navbar-right">
          <li id="lang">
            <input type="image" name="language" value="fi" src="{% static 'images/fi.png' %}" alt="FI">
            <input type="image" name="language" value="en" src="{% static 'images/en.png' %}" alt="EN">
            <input type="image" name="language" value="sv" src="{% static 'images/sv.png' %}" alt="SV">
          </li>
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
              {%trans 'Profile'%}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/logout/">{% trans 'Log out' %} <span class="glyphicon glyphicon-log-out"></span></a></li>
              <li><a href="/user">{%trans 'User info'%}</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="/login">{% trans 'Log in' %}</a></li>
          {% endif %}
        </ul>
    </div>
  </div>
</nav>
</form>

<div id="content" class="container-fluid">
  <div class="flash-messages">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% block page_content %}{% endblock %}
</div>
</body>
</html>
