{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <title>ISOskaba</title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container-fluid">
    <div id="header" class="row">
      <a href="/"><img id="headerpic" src="../static/images/isoskaba-kuva-pieni.jpg" alt="ISOskaba"></a>
    </div>
    {% if not user.is_authenticated and view != 'login' %}
    <div id="login">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>{% trans 'Kirjaudu sisään' %}</strong>
        </div>
        <div id="login-body" class="panel-body">
          <form class="form-horizontal" role="form" action="/login" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">{% trans 'Käyttäjätunnus' %}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="username" name="username" placeholder="{% trans 'Käyttäjätunnus' %}" required="" value="{{ username }}"  />
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-4 control-label">{% trans 'Salasana' %}</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="password" name="password" placeholder="{% trans 'Salasana' %}" required="" value="" />
              </div>
            </div>
            <div class="form-group last">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success btn-sm">{% trans 'Kirjaudu sisään' %}</button>
                <button type="reset" class="btn btn-default btn-sm">{% trans 'Tyhjennä' %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <form action="/i18n/setlang/" id="language-form" method="post">
  {% csrf_token %}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">{% trans 'ISOskaba' %}</a>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav">
          {% if user.is_superuser %}
          <li><a href="/admin/events">{% trans 'Tapahtumat' %}</a></li>
          {% endif %}
          {% if user.is_authenticated %}
          <li><a href="/events">{% trans 'Lisää tapahtuma' %}</a></li>
          <li><a href="/user">{% trans 'Omat tiedot' %}</a></li>
          <li><a href="/">{% trans 'Killan leaderboard' %}</a></li>
          <li><a href="/">{% trans 'Kiltojen välinen leaderboard' %}</a></li>
          {% endif %}
          {% if user.is_superuser or user.profile.role == 'moderator' or user.profile.role == 'admin' %}
          <li><a href="/admin/">{% trans 'Admin panel' %}</a></li>
          {% endif %}
       </ul>

        <ul id="login-nav" class="nav navbar-nav navbar-right">
          <li id="lang">
            <input type="image" name="language" value="fi" src="../static/images/fi.png" alt="FI">
            <input type="image" name="language" value="en" src="../static/images/en.png" alt="EN">
            <input type="image" name="language" value="sv" src="../static/images/sv.png" alt="SV">
          </li>
          {% if user.is_authenticated %}
          <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span>{% trans 'Kirjaudu ulos' %}</a></li>
          {% endif %}
        </ul>
    </div>
  </div>
</nav>
</form>

<div id="content" class="container-fluid">
  <div class="flash-messages">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% block page_content %}{% endblock %}
</div>
<footer>
 <span class="copyright">&copy; {% trans '2016 ISOskaba' %}</span>
</footer>
</body>
</html>
