{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/divemes/smoodivness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<h1>{% trans 'Events' %}</h1>
<form role="form" class="form-horizontal" action="/attend" method="POST">
  {% csrf_token %}
  <input type="hidden" name="order_by_events" value="{{ order_by_events }}" />
  <input type="hidden" name="order_by_attendances" value="{{ order_by_attendances }}" />
  <div class="div-table">
    <div class="div-table-row div-table-heading">
      <div style="width: 25%" class="link"><a href="?order_by_events=name">{% trans 'Name' %}</a></div>
      <div style="width: 25%" class="link"><a href="?order_by_events=points">{% trans 'Points' %}</a></div>
      <div style="width: 25%" class="link"><a href="?order_by_events=eventdate">{% trans 'Date' %}</a></div>
      <div style="width: 25%">{% trans 'Attend' %}</div>
    </div>

    {% for event in events %}
    <div class="div-table-row">
      <div style="width: 25%">{{ event.name }}</div>
      <div style="width: 25%">{{ event.points }}</div>
      <div style="width: 25%">{{ event.eventdate|date:'d.m.Y' }}</div>
      <div style="width: 25%">
        <button class="attend-event" type="submit" name="e_id" value="{{ event.id }}" {% if event.disabled %}disabled{% endif %}>{% trans 'Attend' %}</button>
      </div>
    </div>
    <div id="{{ event.slug }}" class="collapse div-table-collapse">
      {{ event.description|safe }}
    </div>
    {% endfor %}
  </div>
</form>
{% endblock %}
