{% extends 'admin_base.html' %}
{% block admin_content %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<h1>Events</h1>
<div class="search-events">
  <label for="search-input">Search events</label>
  <input id="search-input" />
</div>
<script>
  $(document).ready(function() {
    events = [];
    {% for event in events %}
      events.push({'value': '{{ event.slug }}', 'label': '{{ event.name }}'});
    {% endfor %}
    console.log(events);
    $('#search-input').autocomplete({
      minlength: 2,
      source: events,
            focus: function(event, ui) {
              $('#search-input').val(ui.item.label);
              return false;
          },
            select: function(event, ui) {
              window.location.href = '/admin/events/edit/' + ui.item.value + '/';
            }
    });
  });
</script>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Guild</th>
    <th>Points</th>
    <th>Repeats</th>
    <th>Created</th>
    <th>Slug</th>
  </tr>
  {% for event in events %}
  <tr>
    <td><a href="/admin/events/edit/{{ event.slug }}/" title="Edit Event">{{ event.name }}</a></td>
    <td>{{ event.description }}</td>
    <td>{{ event.guild }}</td>
    <td>{{ event.points }}</td>
    <td>{{ event.repeats }}</td>
    <td>{{ event.created_at|date:'d.m.Y H:i' }}</td>
    <td>{{ event.slug }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
