{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/divemes/smoodivness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<h1>{% trans 'Scoreboard' %}</h1>

<div class="div-table">
  <div class="div-table-row">
    <div style="width: 20%">{% trans 'Guild' %}</div>
    <div style="width: 20%">{% trans 'Points' %}</div>
  </div>

  {% for score in score_list %}
  <div class="div-table-row">
    <div style="width: 20%">{{ score.0 }}</div>
    <div style="width: 20%">{{ score.1 }}</div>
  </div>
  {% endfor %}
</table>
{% endblock %}
