{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/divemes/smoodivness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<h1 class="scoreboard">{% trans 'Scoreboard' %}</h1>
{% csrf_token %}
{% comment %} <div class="div-table">
  <div class="div-table-row div-table-heading">
    <div style="width: 50%">{% trans 'Guild' %}</div>
    <div style="width: 50%"">{% trans 'Points' %}</div>
  </div>

  {% for guild in points %}
  <div class="div-table-row">
    <div style="width: 50%">{{ guild.guild.name }}</div>
    <div style="width: 50%">{{ guild.points }}</div>
  </div>
  {% endfor %}
</div> {% endcomment %}

<p>Voittaja selviää pian!! Kiitos osallistumisesta! <br>
The winner will be announced soon! </p>

{% endblock %}
