{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}

<!--<div class="container-fluid">
	<div class="login-form panel panel-primary ">
		<div class="panel-heading">Log in</div>
		<div class="panel-body">
			<form role="form" class="form-horizontal" action="/login" method="POST">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}" />
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" value="{{ username }}" />
				</div>
				<div class="form-group">
					<label for ="password">Password:</label>
					<input type="password" id="password" name="password" value="" />
				</div>
				<input type="submit" value="Log In" />
			</form>
		</div>
	</div> 
</div>-->
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-transparent">
          <strong>{% trans 'Log in' %}</strong>
        </div>
        <div id="login-body" class="panel-body">
          <form class="form-horizontal" role="form" action="/login" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">{% trans 'User ID' %}</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="" value="{{ username }}"  />
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-3 control-label">{% trans 'Password' %}</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" value="" />
              </div>
            </div>
            <!--<div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    Remember me
                  </label>
                </div>
              </div>
            </div>-->
            <div class="form-group last">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="skaba-button">{% trans 'Log in' %}</button>
                <button type="reset" class="skaba-button">{% trans 'Empty' %}</button>
                <br> <a href="password_reset">{% trans 'Forgotten password?' %}</a>
              </div>
            </div>
          </form>
        </div>
      </div>
{% endblock %}
