{% extends 'admin_base.html' %}
{% block admin_content %}
<h1>{% trans 'Users' %}</h1>
<table style="width:100%">
  <tr>
    <th>{% trans 'Name' %}</th>
    <th>{% trans 'Email' %}</th>
    <th>{% trans 'Guild' %}</th>
    <th>{% trans 'Role' %}</th>
    <th>{% trans 'TF' %}</th>
    <th>{% trans 'KV' %}</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.profile.guild }}</td>
    <td>{{ user.profile.role }}</td>
    <td>{{ user.profile.is_tf }}</td>
    <td>{{ user.profile.is_kv }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
