{% extends 'base.html' %}
{% block page_content %}
<h1>User info</h1>
<table style="width:25%">
  <tr>
    <th>Username:</th>
    <td>{{ profile.user.username }}</td>
  </tr>
  <tr>
    <th>First name:</th>
    <td>{{ profile.user.first_name|default:"N/A" }}</td>
  </tr>
  <tr>
    <th>Last name:</th>
    <td>{{ profile.user.last_name|default:"N/A" }}</td>
  </tr>
  <tr>
    <th>Email:</th>
    <td>{{ profile.user.email }}</td>
  </tr>
  <tr>
    <th>Guild:</th>
    <td>{{ profile.guild }}</td>
  </tr>
  <tr>
    <th>TF status:</th>
    <td>{{ profile.is_tf }}</td>
  </tr>
  <tr>
    <th>KV status:</th>
    <td>{{ profile.is_kv }}</td>
  </tr>
</table>

<h2>Attended events</h2>
<table style="width:25%">
  <tr>
    <th>Event name</th>
    <th>Date added</th>
    <th>Verified</th>
  </tr>
{% for att in attendances %}
<tr>
  <td>{{ att.event.name }}</td>
  <td>{{ att.created|date:"d.m.Y H:i" }}</td>
  <td>{{ att.verified }}</td>
</tr>
{% endfor %}
{% endblock %}
