{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}
<h1>{% trans 'User info' %}</h1>
<table style="width:100%">
  <tr>
    <th>{% trans 'Username' %}:</th>
    <td>{{ profile.user.username }}</td>
  </tr>
  <tr>
    <th>{% trans 'First name' %}:</th>
    <td>{{ profile.user.first_name|default:"N/A" }}</td>
  </tr>
  <tr>
    <th>{% trans 'Last name' %}:</th>
    <td>{{ profile.user.last_name|default:"N/A" }}</td>
  </tr>
  <tr>
    <th>{% trans 'Email' %}:</th>
    <td>{{ profile.user.email }}</td>
  </tr>
  <tr>
    <th>{% trans 'Guild' %}:</th>
    <td>{{ profile.guild }}</td>
  </tr>
  <tr>
    <th>{% trans 'TF status' %}:</th>
    <td><span class="glyphicon glyphicon-{{ profile.is_tf|yesno:'ok-circle text-success,ban-circle text-danger' }}"></span></td>
  </tr>
  <tr>
    <th>{% trans 'INTL status' %}:</th>
    <td><span class="glyphicon glyphicon-{{ profile.is_kv|yesno:'ok-circle text-success,ban-circle text-danger' }}"></span></td>
  </tr>
  <tr>
    <th>{% trans 'Total Points' %}:</th>
    <td>{{ total_user_points | default:"0"}}</td>
 </tr>
</table>

<a href="/user/edit/"><button type="button">{% trans 'Edit' %}</button></a>

<h2>{% trans 'Attended events' %}</h2>

{% include "user_attendances.html" with attendances=attendances %}

{% endblock %}
